/*$$$$$$$$$$$$$$$$$
    ALGEMEEN
$$$$$$$$$$$$$$$$$*/

body {
  margin: 0;
  padding: 0;
  z-index: 0;
}



/*$$$$$$$$$$$$
    LINKS
$$$$$$$$$$$$*/

a:link {
  text-decoration: none;
}

a {
  color: #FA8779;
}

a:hover{
  color: red;
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$
     BASE.HTML(EXTENDS)
$$$$$$$$$$$$$$$$$$$$$$$$$*/

.Rectangle-1 {
  background-color: #3a2d2d;
  color: whitesmoke;
}

.header-tekst {
  float: right;
  padding-top: 50px;
  padding-right: 120px;
}

.header-text {
  padding-right: 75px;
  font-size: 25px;
}

.Rectangle-2 {
  height: 65px;
  width: 100%;
  position: fixed;
  background-color: #3a2d2d;
  color: whitesmoke;
  bottom: 0;

}

.footer-box {  
  margin-left: 50px;
  display: inline-flex;
}

.logo {
  padding: 15px 25px;
}

.homealone {
  float: left;
}

.wordpress {
  margin-left: 750px;
}


/*$$$$$$$$$$$$$$$$
    HOME.HTML
$$$$$$$$$$$$$$$$*/

.homefoto {
   box-shadow:  10px 10px 10px 10px #000; /*werkt niet*/
}

.container {

}

.box1 {
  width: 285px;
  height: 230px;
  background-color: #dddddd;
  display: inline-block;
  text-align: center;
  margin: 150px 105px;
  border-radius: 15%;
  border: red dotted 2px;
}

.foto {
  margin-top: 37px;
  width: 120px;
  height: 120px;
}



/*$$$$$$$$$$$$$$
    MUZIEK
$$$$$$$$$$$$$$*/

.muziek-box {
  display: inline-block;
  height: 250px;
  padding: 90px 90px 90px 90px;
}

body{
  padding-bottom: 90px;
}




/*$$$$$$$$$$$$$$$$$
      KAMERS
$$$$$$$$$$$$$$$$$*/

.toevoegen {
  margin: 30px 0 0 700px
}

.lijnen {
  margin: 5px 0 20px 160px;
}

.kamer-box {
  display: inline-block;
  height: 250px;
  padding: 20px 90px 60px 160px;
}

.kamerfoto {
  border: solid black 2px;
  padding: 10px 40px;
}

.garage-box {
  display: inline-block;
  height: 250px;
  padding: 20px 90px 60px 160px;
}




/*$$$$$$$$$$$$$$$
     TOGGLE
$$$$$$$$$$$$$$$*/

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*$$$$$$$$$$$$$$$$$$$$$$$
    INSTELLINGEN
$$$$$$$$$$$$$$$$$$$$$$$*/

.schuiver {
  margin: 40px 0 20px 625px;
}




