{% extends 'base.html' %}
{% block title   %}
    home
{% endblock %}


{% block body %}

    <div class="container">
        <div class="box1">
            <a href="kamers.html"><img src="/static/img/kamer%20icon.jpg" alt="kamers-link" class="foto"></a>
            <p>kamers</p>
        </div>
        <div class="box1">
            <a href="instellingen.html"><img src="/static/img/instellingen%20icon.png" alt="instellingen-link" class="foto"></a>
            <p>instellingen</p>
        </div>
        <div class="box1">
            <a href="muziek.html"><img src="/static/img/muziek%20icon.jpg" alt="muziek-link" class="foto"></a>
            <p>muziek</p>
        </div>
    </div>
{% endblock %}