{% extends 'base.html' %}
{% block title   %}
    kamers
{% endblock %}

{% block body %}
{#    <a href="toevoegen.html"><img src="/static/toevoegen.png" alt="link naar ktoevoegen" class="toevoegen"></a>#}
    <p class="lijnen">gelijksvloers _______________________________________________________________________________________________________________________________________</p>
    <div class="kamer-box">
        <img src="/static/img/slaapkamer.png" alt="slaapkamer foto" class="kamerfoto" >
        <p>slaapkamer 1</p>
        <p>licht: {{ lichtwaarden[0] }}  %</p>
        <p>temp: {{ temp[0] }} °C</p>


        verlichting:

        <form action="{{ url_for('sensoren') }}" method="post">
            <input type="submit" name="light1" value="light">
            <input type="hidden" value="1" name="button_id" >
        </form>
    </div>



    <div class="garage-box">
        <img src="/static/img/garage.png" alt="garage foto" class="kamerfoto" width="127" height="77">
        <p>garage</p>
        <p>licht: {{ lichtwaarden[1] }} %</p>
        <p>temp: {{ temp[1] }} °C</p>
        verlichting:
        <form action="{{ url_for('sensoren') }}" method="post">
            <input type="submit" name="light2"
            value="light">
            <input type="hidden" value="2" name="button_id" >
        </form>
        <br><br>
        garage-poort:
        <label class="switch">
            <input type="checkbox" checked />
            <div class="slider round"></div>
        </label>
    </div>

    <p class="lijnen">1ste verdiep _______________________________________________________________________________________________________________________________________</p>
     <div class="kamer-box">
        <img src="/static/img/office.png" alt="office foto" class="kamerfoto" width="127" height="77">
         <p>bureau </p>
        <p>licht: {{ lichtwaarden[2] }} %</p>
        <p>temp: {{ temp[2] }} °C</p>
        verlichting:
     <form action="{{ url_for('sensoren') }}" method="post">
            <input type="submit" name="light3"
            value="light">
            <input type="hidden" value="3" name="button_id" >
        </form>
    </div>

     <div class="kamer-box">
        <img src="/static/img/slaapkamer.png" alt="slaapkamer foto" class="kamerfoto" >
         <p>slaapkamer 3</p>
        <p>licht: {{ lichtwaarden[3] }} %</p>
        <p>temp: {{ temp[3] }} °C</p>
        verlichting:
        <form action="{{ url_for('sensoren') }}" method="post">
            <input type="submit" name="light4"
            value="light">
            <input type="hidden" value="4" name="button_id" >
        </form>
    </div>

{% endblock %}