{% extends 'base.html' %}
{% block title   %}
    muziek
{% endblock %}

{% block body %}
    <div class="muziek-box">
        <img src="/static/img/waves.jpg" alt="waves-song" width="250" height="250">
        <p>MR.Probz: Waves</p>
        <audio controls>
            <source src="/static/muziek/Mr.%20Probz%20-%20Waves.mp3" type="audio/ogg">
            <source src="/static/muziek/Mr.%20Probz%20-%20Waves.mp3" type="audio/mp3">
        </audio>
    </div>
    <div class="muziek-box">
        <img src="/static/img/slipknot.jpg" alt="slipknot-song" width="250" height="250">
        <p>Slipknot: Wait and bleed</p>
        <audio controls>
            <source src="/static/muziek/Slipknot%20-%20Wait%20And%20Bleed%20(Original%20Cut).mp3" type="audio/ogg">
            <source src="/static/muziek/Slipknot%20-%20Wait%20And%20Bleed%20(Original%20Cut).mp3" type="audio/mp3">
        </audio>
    </div>
    <div class="muziek-box">
        <img src="/static/img/prayer.jpg" alt="prayer in c song" width="250" height="250">
        <p>Lilly Wood & The Prick and Robin Schulz: Prayer in c</p>
        <audio controls>
            <source src="/static/muziek/Lilly%20Wood%20and%20The%20Prick%20-%20Prayer%20In%20C%20(Robin%20Schulz%20Remix%20-%20Radio%20Edit).mp3" type="audio/ogg">
            <source src="/static/muziek/Lilly%20Wood%20and%20The%20Prick%20-%20Prayer%20In%20C%20(Robin%20Schulz%20Remix%20-%20Radio%20Edit).mp3" type="audio/mp3">
        </audio>
    </div>
    <div class="muziek-box">
        <img src="/static/img/Simarik.jpg" alt="kiss kiss song" width="250" height="250">
        <p>Tarkan: Kiss kiss</p>
        <audio controls>
            <source src="/static/muziek/Kiss%20Kiss%20(Tarkan).mp3" type="audio/ogg">
            <source src="/static/muziek/Kiss%20Kiss%20(Tarkan).mp3" type="audio/mp3">
        </audio>
    </div>
    <div class="muziek-box">
        <img src="/static/img/DMXGonGive.jpg" alt="X go give to ya song" width="250" height="250">
        <p>DMXGonGive: X go give to ya</p>
        <audio controls>
            <source src="/static/muziek/X%20go%20give%20to%20ya.mp3" type="audio/ogg">
            <source src="/static/muziek/X%20go%20give%20to%20ya.mp3" type="audio/mp3">
        </audio>
    </div>
    <div class="muziek-box">
        <img src="/static/img/stranger-bonfires.jpg" alt="bonfire song" width="250" height="250">
        <p>Childish Gambino: Bonfire</p>
        <audio controls>
            <source src="/static/muziek/Childish%20Gambino%20-%20Bonfire.mp3" type="audio/ogg">
            <source src="/static/muziek/Childish%20Gambino%20-%20Bonfire.mp3" type="audio/mp3">
        </audio>
    </div>
{% endblock %}