{% extends 'base.html' %}
{% block title   %}
    kamer toevoegen
{% endblock %}

{% block body %}
    <div class="kamertoevoegen">
        <form action="">
            <input type="text" title="naam" value="naam" class="naam"><br><br>
            <div class="float">
                <img src="/static/slaapkamer.png" alt="slaapkamer foto"><br>
                <input type="radio" title="slaapkamer" name="chose">
            </div>
            <div class="float">
                <img src="/static/keuken.png" alt="keueken foto" width="127" height="77"><br>
                <input type="radio" title="keuken" name="chose">
            </div>
            <div class="float">
                <img src="/static/office.png" alt="office foto" width="127" height="77"><br>
                <input type="radio" title="office" name="chose">
            </div>
            <div class="float">
                <img src="/static/badkamer.png" alt="badkamer foto" width="127" height="77"><br>
                <input type="radio" title="badkamer" name="chose">
            </div>
            <div class="float">
                <img src="/static/garage.png" alt="garage foto" width="127" height="77"><br>
                <input type="radio" title="garage" name="chose">
            </div>
            <div class="float">
                <img src="/static/living.png" alt="living foto" width="127" height="77"><br>
                <input type="radio" title="living" name="chose">
            </div>
            <br><br>
            <a href="kamers.html"><input type="button" title="sluiten" value="sluiten"></a>
            <a href="kamers.html"><input type="button" title="opslaan" value="opslaan"></a>
        </form>
    </div>
{% endblock %}